@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

/* Utility classes */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

:root {
	--background: white;
	--primary: #101030;
	--primary-contrast: var(--background);
	--text-color: var(--primary);
	--header: #eee;
	--header-contrast: rgb(10, 124, 235);
	--code: #e0e0e0;
	--code-contrast: #444;
	--primary-font-stack: 'Raleway', sans-serif;
	--secondary-font-stack: 'Quicksand', sans-serif;
	--nav: var(--background);
	--nav-contrast: var(--text-color);
	--nav-header: var(--primary);
	--nav-header-contrast: var(--background);
	--link: #1e1eb3;
	--link-visited: #58589d;
	--focus: #ff7800;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #111;
		--primary: #A0A0E0;
		--primary-contrast: var(--background);
		--text-color: #eee;
		--header: #333;
		--header-contrast: #ccc;
		--code: #222;
		--code-contrast: #fff;
		--nav: var(--background);
		--nav-contrast: var(--text-color);
		--nav-header: var(--primary);
		--nav-header-contrast: var(--background);
		--link: #4848ff;
		--link-visited: #8080c9;
		--focus: #ff7800;
	}
}

html {
	scrollbar-color: var(--primary) var(--primary-contrast);
}

body {
	background-color: var(--background);
	color: var(--text-color);
}

header {
	color: var(--header-contrast);
	background-color: var(--header);
	background-position: bottom left;
	font-size: 1.5em;
	padding: .6em 1.2em;
	display: flex;
}

.social> :first-child {
	color: var(--header-contrast);
	transition: color 1s;
}

header .social {
	padding: .5em;
	height: 2em;
}

.flex-spacer {
	flex-grow: 1;
}

.social-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5em;
}

.logo-container {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: inherit;
	gap: .2em;
}

.wordmark-container {
	display: flex;
	flex-direction: column;
	margin-top: .1em;
}

.logo {
	background-image: url('../images/AiryxLogo_Emblem@1x.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 2em;
	width: 2em;
}

.wordmark {
	background-image: url('../images/AiryxLogo_Text@1x.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 1em;
	width: 4em;
}

.tagline {
	font-family: var(--primary-font-stack);
	font-size: .7em;
	padding-left: .3em;
}

main {
	font-family: var(--primary-font-stack);
	font-size: 100%;
	display: grid;
	grid-template-columns: minmax(0, 1fr) 20em;
}

article {
	padding: 2em;
	grid-column: 1;
	grid-row: 1;
}

article ul {
	margin-left: 2em;
}

article h1, article h2, article h3 {
	margin-bottom: .5em;
}

article h1:not(:first-child), article h2:not(:first-child), article h3:not(:first-child) {
	margin-top: 1.5em;
}

article p {
	margin: .5em 0;
}

aside {
	grid-column: 2;
	grid-row: 1;
}

nav {
	border: var(--nav-header) solid .2em;
	margin-bottom: 2em;
}

nav .navheader {
	padding: .3em 0;
	text-align: center;
	font-family: var(--secondary-font-stack);
	background-color: var(--nav-header);
	color: var(--nav-header-contrast);
}

nav .navbody {
	padding: .3em;
	list-style-image: none;
	list-style-type: none;
	background-color: var(--nav);
}

nav .navbody li a {
	color: var(--nav-contrast);
	text-decoration: none;
	padding-left: 3px;
	font-family: var(--secondary-font-stack);
}

/* Align the navigation icons */
nav .fab, nav .fa, nav .far, nav .fas {
	width: 1.5em;
}

/* Show something while the timeline is loading */
a.twitter-timeline {
	text-align: center;
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	color: #333;
}

footer {
	color: var(--primary-contrast);
	background-color: var(--primary);
	font-family: var(--secondary-font-stack);
	padding: 1em;
}

ul.iconlist {
	list-style-type: none;
}

ul.iconlist .fab, ul.iconlist .fa, ul.iconlist .far, ul.iconlist .fas {
	color: rgb(30, 144, 255);
	width: 2em;
}

code, .code {
	font-family: 'Monaco', 'Consolas', 'DejaVu Sans Mono', monospace;
	font-size: .8em;
	background-color: var(--code);
	border: .1em solid var(--code);
	color: var(--code-contrast);
	border-radius: 5px;
	padding: 0 .2em;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

*:focus-visible {
	outline: solid .3em var(--focus);
	outline-offset: .2em;
}

.screenshot {
	width: 100%;
}

figure {
	width: 100%;
	position: relative;
	border: .2em solid black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #333;
	margin: 1em 0;
}

figcaption {
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	padding: 0.75em;
	left: 1em;
	bottom: 1em;
	border-radius: .5em;
}

img.tinyicon {
	width: 1em;
	height: 1em;
	border: none;
}