.button {
  --shadow-saturation: 80%;
  --shadow: var(--hue-primary) var(--shadow-saturation) 65%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

  font-size: 0.875rem;
}

.button--primary {
  color: white;
  background: var(--color-primary);
  filter: brightness(1) drop-shadow(0 2px 2px hsl(var(--shadow) / 0.6))
    drop-shadow(0 4px 4px hsl(var(--shadow) / 0.3))
    drop-shadow(0 8px 8px hsl(var(--shadow) / 0.1));

  transition: filter 0.5s var(--animation-eased),
    transform 0.5s var(--animation-eased);

  &:hover {
    --shadow-saturation: 40%;
    transition: filter 0.2s var(--animation-eased),
      transform 0.2s var(--animation-eased);
    filter: brightness(1.1) drop-shadow(0 8px 4px hsl(var(--shadow) / 0.6))
      drop-shadow(0 16px 8px hsl(var(--shadow) / 0.3))
      drop-shadow(0 32px 16px hsl(var(--shadow) / 0.1));
    transform: translateY(-2px);
  }

  &:active {
    transition: filter 0.01s var(--animation-eased),
      transform 0.01s var(--animation-eased);
    transform: translateY(0);
  }
}

.button--secondary {
  border: 2px solid var(--color-border);
  color: var(--color-text);
  transition: color 0.3s var(--animation-eased),
    border-color 0.3s var(--animation-eased);

  &:hover {
    color: var(--color-primary);
    border-color: currentColor;
  }
}

.button--bare {
  color: var(--color-text);
  transition: color 0.3s var(--animation-eased);

  &:hover {
    color: var(--color-primary);
  }
}
