.footer {
  padding: 4rem 0 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-text-muted);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}

.footer__copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
