.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: var(--layer-menu);
  padding-inline: 0;
}

.header__inner {
  --padding: 3px;
  --shadow: 0deg 0% 0%;

  margin: var(--global-header-block-spacing);
  padding: 0.5rem;
  height: var(--global-header-height);
  overflow-y: hidden;

  display: flex;
  align-items: stretch;

  border: 1px solid var(--color-border);
  border-radius: calc(var(--global-header-height) / 2);
  background: var(--color-header-bg);

  @supports (backdrop-filter: blur(5px)) {
    backdrop-filter: saturate(180%) blur(20px);
  }

  will-change: box-shadow,
  border-radius,
  transform,
  height,
  margin;
  transition: box-shadow 0.45s linear,
  transform 0.45s linear,
  border-radius 0.45s var(--animation-eased),
  height 0.45s var(--animation-eased),
  margin 0.45s var(--animation-eased);

  /* Inner highlight + shadow for depth */
  box-shadow: inset 0 0 0 1px hsl(var(--hue-primary) 0% 100% / 0.1),
  0 4px 20px -2px hsl(var(--shadow-color) / 0.1);
}

.header__inner--raised {
  transform: translateY(-3px);
  box-shadow: 1px 8px 4px hsl(var(--shadow) / 0.2),
    2px 16px 8px hsl(var(--shadow) / 0.1),
    4px 32px 16px hsl(var(--shadow) / 0.05);
}

.header__menu-state {
  display: none;
}

.header__menu-state:checked~.header__inner {
  @media not (--viewport-large) {
    margin: 0;
    height: 100vh;
    border-radius: 0;
  }

  &:hover {
    transform: none;
  }
}