.social {
  display: flex;
  gap: 1rem;
}

.social__link {
  display: flex;
  color: var(--color-text-muted);
  opacity: 0.65;
  transition: 0.3s opacity linear;
  padding: 0.25rem;

  &:hover {
    opacity: 1;
  }

  & svg {
    width: 1.2rem;
    height: auto;
  }
}
