.tweets {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (--viewport-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewport-super-large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tweets__tweet,
.tweet__quoted {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 16px;
  background-color: white;
  border: 1px solid var(--color-border);
  font-size: 0.875rem;

  padding: 1rem;
  color: inherit;
}

.tweets__tweet {
  box-shadow: var(--shadow-elevation-low);
}

.tweet__quoted {
  border-radius: calc(16px - 0.25rem);
  padding: 0.5rem;
}

.tweets__tweet > header,
.tweet__quoted > header {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.tweet__quoted > header {
  align-items: center;
}

.tweets__tweet > main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tweet__profile-pic {
  width: 32px;
}

.quoted__profile-pic {
  width: 24px;
}

.tweet__user,
.quoted__user {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  line-height: 1;
  font-size: 0.875em;
}

.quoted__user {
  flex-direction: row;
}

.tweet__name,
.quoted__name {
  font-weight: var(--font-bold);
}

.tweet__screen-name,
.quoted__screen-name {
  color: var(--color-text-muted);
}

.tweet__date,
.quoted__date {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  line-height: 1;
}

.quoted__date__sep {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  line-height: 1;
}

.tweet__date {
  margin-inline-start: auto;
}
