<footer>
  <div class="u-container">
    <div class="small">&copy; 2021 the Airyx Project and Ravyn Software</div>
    <div class="small">
      "Airyx" and the airyx logo are trademarks of Ravyn Software, used with permission.
    </div>
  </div>
</footer>
