<br><br>
<footer class="footer">
  <div class="u-container">
    <div class="footer__inner">
      <div class="footer__copy">
        <span>
          <strong>&copy; 2021&ndash;{% year %} · RavynSoft</strong> ·
          <br>
          All Rights Reserved.
        </span>
        <small>
          "ravynOS" and the raven logo are trademarks. The other trademarks or
          logos on this site are properties of their respective owners. <br />
          Logo designs &amp; artwork by <a href="https://github.com/kevdoy">kevdoy</a> &amp; 
          <a href="https://github.com/nayaabkhan">nayaabkhan</a>.
        </small>
      </div>
      <div>
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" />
        </a>
      </div>
    </div>
  </div>
</footer>
