<footer class="footer">
  <div class="u-container">
    <div class="footer__inner">
      <div>
        <strong>&copy; 2021 ⸱ The Airyx Project</strong> ⸱ All Rights Reserved. <br/>
        The trademarks or logos on this site are properties of their respective owners.
      </div>
      <div>
        {% include 'social.njk' %}
      </div>
    </div>
  </div>
</footer>
