{% from 'nav.njk' import nav with context %}

<nav class="u-container header" role="navigation" aria-label="Global">
  <input type="checkbox" id="menu-state" class="header__menu-state">
  <div id="header" class="header__inner">
    {{ nav() }}
  </div>
</nav>
