{% from 'logo.njk' import logo with context %}

{% macro nav() %}
  <ul class="nav__header">
    <li class="nav__item nav__item--logo">
      <a class="nav__link" href="/" rel="home" aria-label="Go To Homepage">
        {{ logo('header') }}
      </a>
    </li>
    <li class="nav__item nav__item--menu">
      <label class="menu__label" for="menu-state" aria-hidden="true">
        <span class="menu__label__bread menu__label__bread--top"></span>
        <span class="menu__label__bread menu__label__bread--bottom"></span>
      </label>
      <a id="nav-button" href="#nav" class="header__ham" title="Open Menu" aria-label="Open Menu"></a>
    </li>
  </ul>

  <ul class="nav__menu">
    <li class="nav__item nav__item--logo">
      <a class="nav__link" href="/" rel="home" aria-label="Go To Homepage">
        {{ logo('full') }}
      </a>
    </li>

    {% for item in collections.all | eleventyNavigation %}
      {% set isCurrent = (item.url == page.url) %}
      <li class="nav__item nav__item--{{ item.key | lower }}">
        <a href="{{ item.url | url }}" class="nav__link {{ 'nav__link--highlight' if item.highlight }} {{ 'nav__link--active' if isCurrent }}" {% if isCurrent %} aria-current="page" {% endif %}>
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
