.faq__section {
  display: block;
  gap: 1rem;
  scroll-margin-top: var(--header-space);
}

.faq__section > div {
  color: white;
  position:sticky;
  text-align: center;
  top: var(--header-space);
  background-color: var(--color-primary);
  border-radius: 1rem;
}

.h4 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.faq__section:target > div  {
  background-color: var(--color-secondary);
  color: var( --color-primary);
  transition-duration: 2s;
  transition-property: color background-color;
}

.faq__section > main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq__faq {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq__faq > dt {
  font-weight: var(--font-bold);
}

.faq__markdown :--headings {
  font-weight: var(--font-semibold);
  margin-block: 1rem;
}

.faq__markdown h2 {
  border-bottom: 1px solid var(--color-border);
  padding-block-end: 0.3rem;
  font-size: 1.2em;
}

.faq__markdown h3 {
  font-size: 1.1em;
}

.faq__markdown :--lists {
  margin-block-start: 0;
  margin-block-end: 1rem;
  padding-left: 2em;
}

.faq__markdown ul {
  list-style-type: disc;
}

.faq__markdown p {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.faq__markdown code {
  font-family: var(--font-mono);
  font-size: 0.875em;
  border: 1px solid var(--color-border);
  padding: 1px 4px;
  border-radius: 8px;
}

body {
  position: relative;
}