.home__section {
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home__section :--headings {
  & em {
    font-style: normal;
    color: var(--color-primary);
  }
}

.home__section--hero {
  align-items: center;
  text-align: center;

  @media (--viewport-medium) {
    padding-block: 2rem;
  }
}

.section__header__title {
  font-size: 1rem;
  color: var(--color-secondary);
  letter-spacing: normal;
  font-weight: var(--font-semibold);
}

.section__header__hl {
  font-weight: var(--font-bold);
  letter-spacing: -0.02em;
  line-height: 1;
}

.section__header__text {
  max-width: 50ch;
  font-size: 0.875rem;
  color: var(--color-text-muted);
}

.section__header--hero {
  gap: 1rem;
}

.hero__title {
  font-size: 4rem;
}

.hero__punchline {
  text-align: center;
  background: linear-gradient(268.67deg, var(--color-primary) 20%, var(--color-secondary) 40%, var(--color-secondary) 60%, var(--color-primary) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 700ms linear infinite;
  
}

.hero__desc {
  max-width: 50ch;
  color: var(--color-text-muted);
}

.hero__ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.hero__cta__learn {
  color: var(--color-text-muted);
}

.hero__footer {
  max-width: 80ch;
  font-size: 0.75rem;
  color: var(--color-text-muted);
}

.features__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;

  @media (--viewport-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewport-super-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-elevation-medium);
}

.feature__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature__title,
.feature__para {
  margin: 0;
}

.feature__para {
  line-height: 1.5;
  font-size: 0.9em;
}

.feature__title {
  font-size: 1rem;
}

.home__section--apps {
  display: flex;
  flex-direction: column;
}

.apps__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  counter-reset: apps;

  @media (--viewport-large) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 2rem;
  }
}

.apps__list__source {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.apps__list__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apps__list__details p {
  color: var(--color-text-muted);
  font-size: 0.875rem;
}

.apps__list__source::before {
  counter-increment: apps;
  content: counter(apps);
  font-variant-numeric: tabular-nums;

  line-height: 0.8;
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: var(--font-bold);
}

.contribute__list {
  font-size: 0.875rem;
}

.contribute__list li {
  display: flex;
  gap: 0.8ch;
  margin-block-end: 0.25rem;
}

.divbox {
  background-color: var(--color-secondary);
  border-radius: 1em;
  padding: 2%;
}

.divbox >  p {
  color: black;
}


@keyframes shine {
  to {
    
    background-position: 200% center;
  }
}