.releases__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.875rem;
}

.releases__list>li {
  grid-template-columns: 20% 80%;
  gap: 1rem;
}

.releases__list>li>aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.releases__list>li>main {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: var(--shadow-elevation-low);
}

.releases__list>li>main>h2 {
  margin-block-end: 1rem;
}

.releases__user {
  font-weight: var(--font-semibold);
}

.releases__discussion {
  margin-block-start: 0.5rem;
}

.releases__markdown :--headings {
  font-weight: var(--font-semibold);
  margin-block: 1rem;
}

.releases__markdown h2 {
  border-bottom: 1px solid var(--color-border);
  padding-block-end: 0.3rem;
  font-size: 1.2em;
}

.releases__markdown h3 {
  font-size: 1.1em;
}

.releases__markdown :--lists {
  margin-block-start: 0;
  margin-block-end: 1rem;
  padding-left: 2em;
}

.releases__markdown ul {
  list-style-type: disc;
}

.releases__markdown p {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.releases__markdown {
  overflow: auto;
}