
.scroll-container {
 padding-bottom: 2%;
 position: absolute;
 top: 100vh;
 bottom: 0%;
 margin-right: 2%;
 margin-bottom: 28ch;
 right:0%;
 pointer-events: none; 
}
  
.scroll-container:before {
 content: '';
 display: block;
 height: 0%;
}
  
 
.scroll-container > a > div {
 text-align: center;
 border-radius: 1em;
 padding: 10%;
 position: sticky;
 top: 80%;
 cursor: pointer;
 font-size: 20px;  
 font-weight: bolder;
 text-align: center  ;
 font-size: 80%;
 color: black;
 pointer-events: all;
}

.scroll-container > a > div:active {
  color: white;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-elevation-high);
}
 
.scroll-container > a {
 -webkit-tap-highlight-color: transparent;
  user-select: none;
}
 
.scroll-box {
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-elevation-high);
}
 
html {
  scroll-behavior: smooth;
}  