.screenshot__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.screenshot__image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.screenshot__image-grid > * {
  display: flex;
  flex-direction: column;
}

.screenshot__image-grid a {
  display: contents;
}

.screenshot__image-grid img {
  border-radius: 16px;
  overflow: hidden;

  height: 300px;
  padding-block: 0.5rem;
  background-color: black;
  object-fit: contain;
}

.screenshot__image-grid figcaption {
  padding-block: 0.5rem;
  font-size: 0.75rem;
}
