<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link rel="preconnect" href="https://api.fontshare.com"/>
    <link rel="preconnect" href="https://cdn.fontshare.com"/>
    <link href="https://api.fontshare.com/css?f[]=satoshi@400,700,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/airyx.js" type="module"></script>
    <script src="/js/tweets.js" type="module"></script>

    <title>airyxOS – {{ title or 'Finesse of macOS. Freedom of FreeBSD.' }}</title>
  </head>
  <body>
    {% include 'header.njk' %}

    <main class="main" role="main">
      {% if title %}
        <header class="u-container page-header">
          <h1 class="h2 page-header__title">{{ title }}</h1>
          <p class="page-header__desc">{{ description | safe }}</p>
        </header>
      {% endif %}
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}
  </body>
</html>
