html {
  font-size: 1.2em;
}

body {
  font-family: 'Satoshi', system-ui;
  font-weight: var(--font-normal);
  letter-spacing: 0.02em;
  line-height: 1.75;
  color: var(--color-text);
  background-color: var(--color-surface);
}

p,
:--headings {
  margin-block: 1rem;
}

:--headings {
  font-weight: var(--font-bold);
}
