:root {
  /* Colors */
  --hue-primary: 228deg;
  --hue-secondary: 325deg;

  --color-primary-bare: var(--hue-primary) 100% 63%;
  --color-primary-light-bare: var(--hue-primary) 100% 77%;
  --color-primary-dark-bare: var(--hue-primary) 100% 49%;
  --color-primary: hsl(var(--color-primary-bare));
  --color-primary-light: hsl(var(--color-primary-light-bare));
  --color-primary-dark: hsl(var(--color-primary-dark-bare));

  --color-secondary-bare: var(--hue-secondary) 100% 63%;
  --color-secondary: hsl(var(--color-secondary-bare));

  --color-text: hsl(var(--hue-primary) 50% 10%);
  --color-text-muted: hsl(var(--hue-primary) 25% 45%);

  --color-border: hsl(var(--hue-primary) 20% 90%);

  --color-surface: hsl(var(--hue-primary) 15% 95%);

  /* Type */
  --font-normal: 450;
  --font-bold: 900;

  /* Animations */
  --animation-eased: cubic-bezier(0.52, 0.16, 0.24, 1);

  /* Other globals */
  --global-header-height: 48px;
  --global-header-block-spacing: 1rem;
}
