.u-container {
  margin-inline: auto;
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
}

.u-lock-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}
