---
import Social from '../components/Social.astro'
---
<footer class="footer">
  <div class="u-container">
    <div class="footer__inner">
      <div class="footer__copy">
        <span>
          <strong>&copy; 2021 ⸱ The Airyx Project</strong> ⸱ All Rights Reserved.
        </span>
        <small>
          "Airyx" and the airyx logo are trademarks. The other trademarks or
          logos on this site are properties of their respective owners. <br />
          Logo designs &amp; artwork by
          <a href="https://github.com/nayaabkhan">nayaabkhan</a>. Palm concept by
          <a href="https://github.com/llui85">llui85</a>.
        </small>
      </div>
      <div>
        <Social />
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 4rem 0 2rem;
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-text-muted);
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    line-height: 1.5;
  }

  .footer__copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
