---
permalink: "index.html"
eleventyNavigation:
  key: overview
  title: Overview
  order: 1
---
{% from 'button.njk' import button %}

<section class="u-container home__section home__section--hero">
  <header class="section__header section__header--hero">
    <h1 class="hero__title">
      ravynOS
    </h1>

  <p class="hero__desc">
   We love macOS, but we’re not a fan of the ever-closing hardware and ecosystem. So, we are creating ravynOS&nbsp;&mdash;&nbsp;an OS aimed to provide the finesse of macOS with the freedom of open source.
  </p>
  
  <div class="divbox">
   <p class="hero__desc__highlight">
    ravynOS is an early-stage (pre-alpha) open-source operating system based on Darwin, FreeBSD, and Apple open-source code that aims to be compatible with macOS applications and has no hardware restrictions.
   </p>
   </div>

  <footer class="hero__footer">
    This is a <b>developer preview image</b> that’s intended for people building the system.</br>
    It is not polished, not completed, and not ready for end users yet.
    Devs: Join the Discord to participate!
  </footer>
</section>

<section class="u-container home__section home__section--features">
  <header class="section__header">
    <h2 class="section__header__title">
      Project Goals
    </h2>

    <p class="h3 section__header__hl">Features that you’d love.</p>

    <p class="section__header__text">
      We intend to bring many of the features you’ve come to love from macOS to
      ravynOS such as clean design, global menus, and drag-and-drop installs.
    </p>
  </header>

  <ul class="features__list">
    <li class="feature feature--clean-design">
      <img alt="An illustration of a clean window design" src="/images/features/clean-design.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Clean Design</h3>
        {# <p class="feature__para">
          Fluid and elegant design reminiscent of Aqua. We call it Magma - it's fire, but it moves slow :)
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of a global menu" src="/images/features/global-menu.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Global Menus</h3>
        {# <p class="feature__para">
          Find all your commands in one place.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of Shift and S keys" src="/images/features/shortcuts.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Consistent Shortcuts</h3>
        {# <p class="feature__para">
          Consistent keyboard shortcuts and menus.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of an app ready to be dragged to Applications folder" src="/images/features/simple-installs.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Simple Installs</h3>
        {# <p class="feature__para">
          Drag-and-drop application installers.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="Four familiar folders - Application, System, Library, and Users" src="/images/features/familiar-folders.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Familiar Folders</h3>
        {# <p class="feature__para"></p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration with some Cocoa Appkit code" src="/images/features/cocoa-apis.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Cocoa APIs</h3>
        {# <p class="feature__para">
          Source compatibility with Cocoa APIs. Binary compatibility with some macOS apps.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of the macOS’ open command" src="/images/features/commands.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Nifty Commands</h3>
        {# <p class="feature__para">
          Familiar commands like launchctl and open.
        </p> #}
      </div>
    </li>
  </ul>
</section>

<section class="u-container home__section">
  <header class="section__header">
    <h2 class="section__header__title">
      Get Involved
    </h2>

    <p class="h3 section__header__hl">Don’t be shy, come talk.</p>

    <p class="section__header__text">
      If this sounds like your dream system, please help us make it a reality!
      We’ve got a Discord, IRC, and Matrix. Chats are bridged.
    </p>
  </header>

  <ul class="contribute__list">
    <li>
      <span>📖</span>
      <span>
        Read the <a href="https://wiki.ravynos.com/">project wiki</a>
        to find answers or troubleshoot. Please note it is mostly out of date now that we
        have pivoted to a Darwin base! You can help update it.
      </span>
    </li>
    <li>
      <span>🙋🏽‍♂️</span>
      <span>
        Ask questions on the
        <a href="https://github.com/ravynsoft/ravynos/discussions">discussion forum</a>.
      </span>
    </li>
    <li>
      <span>💬</span>
      <span>
        Hang out with us and others like you on
        <a href="https://discord.com/invite/8caJbAGNwY">Discord</a>,
        <a href="https://matrix.to/#/#ravynOS-general:matrix.org">Matrix</a>.
      </span>
    </li>
  </ul>
</section>

</section>
