---
permalink: "index.html"
eleventyNavigation:
  key: overview
  title: Overview
  order: 1
---
{% from 'button.njk' import button %}

<section class="u-container home__section home__section--hero">
  <header class="section__header section__header--hero">
    <h1 class="hero__title">
      airyxOS
    </h1>
    <h2 class="h4 hero__punchline">
      <span>Finesse of macOS.</span>
      <span>Freedom of FreeBSD.</span>
    </h2>
  </header>

  <p class="hero__desc">
    We love macOS, but we’re not a fan of the ever-closing hardware and ecosystem. So we created airyxOS&nbsp;&mdash;&nbsp;an OS aimed to provide the finesse of macOS with the freedom of FreeBSD.
  </p>

  <div class="hero__ctas">
    {{ button(element='a', href='https://github.com/mszoek/airyx/releases', text='Download airyxOS') }}
    {{ button(element='a', type='secondary', href='/more', class='hero__cta__learn', text='Learn More') }}
  </div>

  <footer class="hero__footer">
    This is a developer preview image that’s mainly intended for helping build the system. We recommend running in a virtual machine, although it should work on any hardware supported by FreeBSD 12.2 with at least 4GB (8GB recommended) RAM.
  </footer>
</section>

<section class="u-container home__section home__section--features">
  <header class="section__header">
    <h2 class="section__header__title">
      Project Goals
    </h2>

    <p class="h3 section__header__hl">Features that you’d love.</p>

    <p class="section__header__text">
      We intend to bring many of the features you’ve come to love from macOS to
      airyxOS like clean installs, global menus, and drag-and-drop installs.
    </p>
  </header>

  <ul class="features__list">
    <li class="feature feature--clean-design">
      <img alt="An illustration of a clean window design" src="/images/features/clean-design.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Clean Design</h3>
        {# <p class="feature__para">
          Fluid and elegant design reminiscent of Aqua.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of a global menu" src="/images/features/global-menu.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Global Menus</h3>
        {# <p class="feature__para">
          Find all your commands in one place.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of Shift and S keys" src="/images/features/shortcuts.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Consistent Shortcuts</h3>
        {# <p class="feature__para">
          Consistent keyboard shortcuts and menus.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of an app ready to be dragged to Applications folder" src="/images/features/simple-installs.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Simple Installs</h3>
        {# <p class="feature__para">
          Drag-and-drop application installers.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="Four familiar folders - Application, System, Library, and Users" src="/images/features/familiar-folders.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Familiar Folders</h3>
        {# <p class="feature__para"></p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration with some Cocoa Appkit code" src="/images/features/cocoa-apis.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Cocoa APIs</h3>
        {# <p class="feature__para">
          Source compatibility with Cocoa APIs.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of the macOS’ open command" src="/images/features/commands.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Nifty Commands</h3>
        {# <p class="feature__para">
          Familiar commands like launchctl and open.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="The FreeBSD devil from the bottom" src="/images/features/super-stability.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Superb Stability</h3>
        {# <p class="feature__para">
          Stable, secure, performant.
        </p> #}
      </div>
    </li>
  </ul>
</section>

<section class="u-container home__section home__section--apps">
  <header class="section__header">
    <h2 class="section__header__title">
      Apps
    </h2>

    <p class="h3 section__header__hl">We’ve your apps covered.</p>

    <p class="section__header__text">
      All of your FreeBSD ports and apps, Linux apps, and even trivial Darwin
      &amp; macOS binaries can now run on airyxOS. And we’re actively working on
      improving it!
    </p>
  </header>

  <ul class="apps__list">
    <li class="apps__list__source">
      <div class="apps__list__details">
        <h4>airyOS, Always</h4>
        <p>
          We're building familiar apps native to airyxOS, packaged as portable
          .app bundles and built with our core technologies of Cocoa, Qt, and
          Mach. These are guaranteed to work and fit seamlessly into your desktop.

        </p>
      </div>
    </li>
    <li class="apps__list__source">
      <div class="apps__list__details">
        <h4>FreeBSD, Mostly</h4>
        <p>
          Most FreeBSD ports and packages continue to work on airyxOS right out
          of the box.
        </p>
      </div>
    </li>
    <li class="apps__list__source">
      <div class="apps__list__details">
        <h4>Linux, Sometimes</h4>
        <p>
          Many Linux applications are expected to work with FreeBSD’s emulation
          layer.
        </p>
      </div>
    </li>
    <li class="apps__list__source">
      <div class="apps__list__details">
        <h4>Cocoa, May Be</h4>
        <p>
          Trivial macOS and Darwin applications may run directly on airyxOS with
          our in-development Translator. AppKit-based source code may build and
          run natively.
        </p>
      </div>
    </li>
  </ul>
</section>

<section class="u-container home__section">
  <header class="section__header">
    <h2 class="section__header__title">
      Get Involved
    </h2>

    <p class="h3 section__header__hl">Don’t be shy, come talk.</p>

    <p class="section__header__text">
      If this sounds like your dream system, please help us make it a reality!
      We’ve got a Discord, IRC, and Matrix. Chats are bridged.
    </p>
  </header>

  <ul class="contribute__list">
    <li>
      <span>📖</span>
      <span>
        Read the <a href="https://airyx.miraheze.org/wiki/Main_Page">project wiki</a>
        to find answers or troubleshoot.
      </span>
    </li>
    <li>
      <span>🙋🏽‍♂️</span>
      <span>
        Ask questions on the
        <a href="https://github.com/mszoek/airyx/discussions">discussion forum</a>.
      </span>
    </li>
    <li>
      <span>💬</span>
      <span>
        Hang out with us and others like you on
        <a href="https://discord.com/invite/8caJbAGNwY">Discord</a>,
        <a href="https://web.libera.chat/?channel=#airyx">IRC</a>, or
        <a href="https://app.element.io/#/room/#airyx:matrix.org">Matrix</a>.
      </span>
    </li>
  </ul>
</section>

<section class="u-container home__section">
  <header class="section__header">
    <h2 class="section__header__title">
      Spotlight
    </h2>

    <p class="h3 section__header__hl">Sometimes we get covered.</p>

    <p class="section__header__text">
      <a href="https://console.substack.com/p/console-67">Console issue #67</a>
      featured us along with an interview!
      <a href="https://linuxgamecast.com/">LinuxGameCast</a>
      also gave us a quick look in their
      <a href="https://linuxgamecast.com/2021/08/lwdw-287-turbocharging-firefox-nvme-for-pi/">LWDW episode 287</a>.
    </p>
  </header>
</section>
