---
permalink: "index.html"
eleventyNavigation:
  key: overview
  title: Overview
  order: 1
---
{% from 'button.njk' import button %}

<section class="u-container home__section home__section--hero">
  <a href="https://hacktoberfest.digitalocean.com" class="hero__notif">
    We're participating in Hacktoberfest!
    <span class="hero__notif__hl">Start Hacking →</span>
  </a>

  <header class="hero__heading">
    <h1 class="hero__title">
      airyxOS
    </h1>
    <h2 class="h3 hero__punchline">
      <span>Finesse of macOS.</span>
      <span>Freedom of FreeBSD.</span>
    </h2>
  </header>

  <p class="hero__desc">
    We love macOS, but we're not a fan of the ever-closing hardware and ecosystem. So we created airyxOS&nbsp;&mdash;&nbsp;an OS aimed to provide the finesse of macOS with the freedom of FreeBSD.
  </p>

  <div class="hero__ctas">
    {{ button(element='a', href='https://github.com/mszoek/airyx/releases', class='hero__cta', text='Download airyxOS') }}
    {{ button(element='a', type='secondary', href='/more', class='hero__cta__learn', text='Learn More') }}
  </div>
</section>

<section class="home__section home__section--features">
  <header class="u-container">
    <h2 class="home__section__title">
      Project Goals
    </h2>

    <h3 class="h4">
      We have ambitious goals and we're crazy enough to achieve them.
    </h3>
  </header>

  <ul class="features__list">
    <li class="feature feature--clean-design">
      <img alt="An illustration of a clean window design" src="/images/features/clean-design.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Clean Design</h3>
        {# <p class="feature__para">
          Fluid and elegant design reminiscent of Aqua.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of a global menu" src="/images/features/global-menu.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Global Menus</h3>
        {# <p class="feature__para">
          Find all your commands in one place.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of Shift and S keys" src="/images/features/shortcuts.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Consistent Shortcuts</h3>
        {# <p class="feature__para">
          Consistent keyboard shortcuts and menus.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of an app ready to be dragged to Applications folder" src="/images/features/simple-installs.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Simple Installs</h3>
        {# <p class="feature__para">
          Drag-and-drop application installers.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="Four familiar folders - Application, System, Library, and Users" src="/images/features/familiar-folders.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Familiar Folders</h3>
        {# <p class="feature__para"></p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration with some Cocoa Appkit code" src="/images/features/cocoa-apis.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Cocoa APIs</h3>
        {# <p class="feature__para">
          Source compatibility with Cocoa APIs.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="An illustration of the macOS' open command" src="/images/features/commands.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Nifty Commands</h3>
        {# <p class="feature__para">
          Familiar commands like launchctl and open.
        </p> #}
      </div>
    </li>
    <li class="feature">
      <img alt="The FreeBSD devil from the bottom" src="/images/features/super-stability.svg"/>
      <div class="feature__info">
        <h3 class="feature__title">Superb Stability</h3>
        {# <p class="feature__para">
          Stable, secure, performant.
        </p> #}
      </div>
    </li>
  </ul>
</section>

<section class="u-container home__section home__section--apps">
  <h2 class="home__section__title">
    <em>Apps</em> & Stuff
  </h2>
  <ul class="apps__list">
    <li class="apps__list__source">
      FreeBSD packages, ports, and applications
    </li>
    <li class="apps__list__source">
      Many Linux applications work in FreeBSD's emulation layer
    </li>
    <li class="apps__list__source">
      Open-source Cocoa applications may compile &amp; run with Airyx's Cocoa runtime (unless they need GNUstep extensions)
    </li>
  </ul>
  <span class="apps__warning">
      Darwin &amp; macOS&reg; binaries will <em>not</em> run on Airyx, yet.
    </span>
</section>

<section class="u-container home__section">
  <h2 class="home__section__title">
    Spotlight
  </h2>

  <p>
    <a href="https://console.substack.com/p/console-67">Console issue #67</a>
  featured Airyx along with an interview with me!
    <a href="https://linuxgamecast.com/">LinuxGameCast</a>
    also gave us a quick look in their
    <a href="https://linuxgamecast.com/2021/08/lwdw-287-turbocharging-firefox-nvme-for-pi/">LWDW episode 287</a>.
  </p>
</section>

<section class="u-container home__section">
  <h2 class="home__section__title">Get Involved</h2>

  <p>
    If this sounds like your dream system, please help us make it a reality! Hit us up at any of the links under <em>Connect with us!</em>
    #general on Discord, #airyx on IRC and #airyx on Matrix.org are bridged together. More specific channels are available on the Discord.
  </p>

  <p>
    A Developer Preview image of Airyx is
    <a href="https://github.com/mszoek/airyx/releases">currently available here</a>. It's open to everyone, but is mainly intended for developers helping build the system and is not ready for daily use yet. Running in a virtual machine is recommended, although it should work on any hardware supported by FreeBSD 12.2 with at least 4GB RAM. (8GB is recommended.)
  </p>
</section>
