---
permalink: "releases.html"
title: Releases
description: All the releases and their details like features and bug-fixes, and link to discussions.
eleventyNavigation:
  key: releases
  title: Releases
  order: 3
---

{% from 'button.njk' import button %}

<section class="u-container">
  <ul class="releases__list">
    {% for release in releases %}
      <li>
        <aside class="button__element">
          <span class="releases__user">{{ release.author.login }}</span>
          <span class="releases__date">{{ release.created_at | githubDateFmt }}</span>
          {{
            button(
              element='a',
              href=release.discussion_url,
              text='Discuss',
              class='releases__discussion'
            ) if release.discussion_url
          }}
        </aside>&nbsp;
        <main>
          <h2 class="h4">{{ release.name }}</h2>
          <div class="releases__markdown">{{ release.body | markdown | safe }}</div>
        </main>
      </li>
    {% endfor %}
  </ul>
</section>
