    <h1>Airyx "Tanuki" pre-release screenshots</h1>
    <p><strong>Note: these are not the final look - just a preview of what to expect</strong></p>

    <h3>Fun with the new <span class="code">open</span> command: Reveal In Filer (<span class="code">open -R</span>) and pipe input to default text editor (<span class="code">open -f</span>)</h3>
    <a href="/images/RevealInFiler.gif"><img src="/images/RevealInFiler.gif" class="screenshot"/></a>

    <h3>The new system ('tree') menu and About dialog<h3>
	<a href="/images/airyx_0.3.0pre_about.png"><img src="/images/airyx_0.3.0pre_about.png" class="screenshot"/></a>

    <h3>The new Tanuki splash screen :)</h3>
	<a href="/images/airyx_0.3pre_splash.png"><img src="/images/airyx_0.3pre_splash.png" class="screenshot"/></a>

    <h3>0.3.0pre Plasma Desktop</h3>
    <ul><li>Fonts: Nimbus, Source Code Pro</li><li>Icons: Elementary</li><li>Decorations: PlasmOSX</li></ul>
    <p>Here you can see the source of a Cocoa sample app using AppKit and the runtime dependencies of the resulting executable. Also shown are some screens of the Filer.app</p>
	<a href="/images/airyx_0.3pre_desktop1.png"><img src="/images/airyx_0.3pre_desktop1.png" class="screenshot"/></a>

    <h3>0.3.0pre Cocoa sample app</h3>
    <p>The Cocoa sample app launched from Filer and showing global menu integration. Also shown is the KDE font viewer and some system fonts.</h3>
	<a href="/images/airyx_0.3pre_cocoademo.png"><img src="/images/airyx_0.3pre_cocoademo.png" class="screenshot"/></a>

    <h3>The 0.3.0pre KDE lock screen</h3>
	<a href="/images/airyx_0.3pre_login.png"><img src="/images/airyx_0.3pre_login.png" class="screenshot"/></a>
    
    <h3>More to come soon!</h3>
