---
---
<h1>AiryxOS Screenshots</h1>

<h2>airyxOS Tanuki BETA screenshots</h2>

<figure class="screenshot" style="background-image: url(/images/airyx_0.3_installer_confirm.png); aspect-ratio: 23/12;">
        <figcaption>Our new Install airyxOS.app at the confirmation screen before installing</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(/images/airyx_0.3_menubar.png); aspect-ratio: 23/12;">
        <figcaption>Updated menu bar with bolded application menu and the finalized airyxOS system icon</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(https://pbs.twimg.com/media/FAkt7y6XsAMFBdq?format=jpg&name=medium); aspect-ratio: 23/12;">
        <figcaption>Firefox.app with global menu integration</figcaption>
</figure>

<h2>AiryxOS "Tanuki" pre-release screenshots</h2>
<p>
        <strong>Note: these are not the final look - just a preview of what to expect</strong>
</p>

<figure class="screenshot" style="background-image: url(https://pbs.twimg.com/media/E_X9hOYUUAEQO-c?format=png&name=large); aspect-ratio: 23/12;">
        <figcaption>The UEFI boot splash</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(/images/RevealInFiler.gif); aspect-ratio: 23/12;">
        <figcaption>Fun with the new <code>open</code> command: Reveal In Filer (<code>open -R</code>) and pipe input to default text editor (<code>open -f</code>)</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(/images/airyx_0.3.0pre_about.png); aspect-ratio: 5/3;">
        <figcaption>The new system ('tree') menu and About dialog</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(/images/airyx_0.3pre_splash.png); aspect-ratio: 11/6;">
        <figcaption>The new Tanuki splash screen :)</figcaption>
</figure>
