---
permalink: "screenshots.html"
title: Screenshots
description: These are very early screenshots of the OS. Things are in a flux and we'll keep them up-to-date.
eleventyNavigation:
  key: screenshots
  title: Screenshots
  order: 2
---

<section class="u-container screenshot__section">
  <header>
    <h2 class="h3">ravynOS "Sneaky Snek" </h2>
    <p>Developer preview screenshots</p>
  </header>

  <div class="screenshot__image-grid">
    
    <figure>
      <a href="/images/ravyn_0.5.2_pre_login.png" target="_blank">
        <img src="/images/ravyn_0.5.2_pre_login.png"
         alt="New login screen">
      </a>
      <figcaption>New login screen</figcaption>
    </figure>

    <figure>
      <a href="/images/ravyn_0.5.2_pre_desktop.png" target="_blank">
        <img src="/images/ravyn_0.5.2_pre_desktop.png"
         alt="GUI for ravynOS 0.5.2 pre 1, the windowserver was re-written from scratch again, to support framebuffer drawing">
      </a>
      <figcaption>GUI for ravynOS 0.5.2 pre 1, the windowserver was re-written from scratch again, to support framebuffer drawing</figcaption>
    </figure>

  </div>
</section>  

<section class="u-container screenshot__section">
  <header>
    <h2 class="h3">ravynOS "Pygmy Marmoset" </h2>
    <p>Developer preview screenshots</p>
  </header>

  <div class="screenshot__image-grid">
    
    <figure>
      <a href="/images/ravyn_0.4.0_pre_login.png" target="_blank">
        <img src="/images/ravyn_0.4.0_pre_login.png"
         alt="Logo for ravynOS">
      </a>
      <figcaption>Login for ravynOS</figcaption>
    </figure>

    <figure>
      <a href="/images/ravyn_0.4.0_pre_desktop.png" target="_blank">
        <img src="/images/ravyn_0.4.0_pre_desktop.png"
         alt="GUI for ravynOS 0.4.0 pre 4, introducing a new WindowServer and a Dock, all built from scratch">
      </a>
      <figcaption>GUI for ravynOS 0.4.0 pre 4, introducing a new WindowServer and a Dock, all built from scratch</figcaption>
    </figure>

  </div>
</section>  
