---
permalink: "screenshots.html"
---
<h1>AiryxOS Screenshots</h1>

<h2>AiryxOS "Tanuki" pre-release screenshots</h2>
<p>
        <strong>Note: these are not the final look - just a preview of what to expect</strong>
</p>

<figure class="screenshot" style="background-image: url(images/RevealInFiler.gif); aspect-ratio: 23/12;">
        <figcaption>Fun with the new <code>open</code> command: Reveal In Filer (<code>open -R</code>) and pipe input to default text editor (<code>open -f</code>)</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(images/airyx_0.3.0pre_about.png); aspect-ratio: 5/3;">
        <figcaption>The new system ('tree') menu and About dialog</figcaption>
</figure>

<figure class="screenshot" style="background-image: url(images/airyx_0.3pre_splash.png); aspect-ratio: 11/6;">
        <figcaption>The new Tanuki splash screen :)</figcaption>
</figure>

<h2>0.3.0pre Plasma Desktop</h2>
<ul>
        <li>Fonts: Nimbus, Source Code Pro</li>
        <li>Icons: Elementary</li>
        <li>Decorations: PlasmOSX</li>
</ul>
<figure class="screenshot" style="background-image: url(images/airyx_0.3pre_desktop1.png); aspect-ratio: 15/8;">
        <figcaption>Here you can see the source of a Cocoa sample app using AppKit and the runtime dependencies of the resulting executable. Also shown are some screens of the Filer.app</figcaption>
</figure>
<figure class="screenshot" style="background-image: url(images/airyx_0.3pre_cocoademo.png); aspect-ratio: 15/8;">
        <figcaption>0.3.0pre Cocoa sample app. The Cocoa sample app launched from Filer and showing global menu integration. Also shown is the KDE font viewer and some system fonts.</figcaption>
</figure>
<figure class="screenshot" style="background-image: url(images/airyx_0.3pre_login.png); aspect-ratio: 15/8;">
        <figcaption>The 0.3.0pre KDE lock screen.</figcaption>
</figure>

<p>More to come soon!</p>
